<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
          Purchase and Store
        </title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,900;1,600&family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <section>
            <nav>
                <a href="/"><img alt="Logo" src="image/logo.jpg"></a>
                <div class="padding-left:10px"><h2><b>National Institute of Technology, Jamshedpur</b></h2></div>
                <div class="nav-links">
                    <ul>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </body>
</html>
